body {
    font-family: "Open Sans", sans-serif;
    background-image: url(/img/English\ Harbor.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1,
h2,
h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: rgb(5, 148, 148);
}

#navbar-h2 {
    color: white;
}

header h2 {
    color: black;
}

.site-footer {
    background-image: linear-gradient(rgb(111, 223, 186), white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    /*background-image: linear-gradient(to right, aquamarine, rgb(13, 206, 206), rgb(5, 138, 138));*/
    background-image: url(/img/English\ Harbor.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: rgb(8, 126, 126);
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #5637DD;
}

#loginModal .modal-header {
    background-color: aquamarine;
    color: black;
}

#signupModal .modal-header {
    background-color: aquamarine;
    color: black;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 500px;
    height: 400px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 500px;
    height: 400px;
}

.gmap_iframe {
    width: 500px !important;
    height: 400px !important;
}

.btn-create,
.btn-signin,
.btn-confirm,
.btn-book-now {
    background-color: aquamarine;
    color: black;
}

#bookingModal .modal-header {
    background-color: aquamarine;
    color: black;
}

#indexContainer,
#aboutContainer,
#servicesContainer,
#contactContainer {
    background-color: beige;
}